/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";


#tag {
	font-family: sans-serif;
	font-weight: 100;
	font-size: 1.8rem;
	line-height: 3.6rem;

	color: #1abc9c;
	border-style: solid;
  border-width: 1.5px;
  border-color: #1abc9c;
  border-radius: 5px;
  padding-right: 0.6rem;
  padding-left: 0.6rem;
  padding-top: 0.3rem;
  padding-bottom: 0.2rem;
  margin-right: 0.5rem;
  
  &:hover {
        background-color:white;
    }


  
}

#add_button {
  color: white;
  margin-top: 1rem;
  margin-right: 2rem;
}



